hr {
    border-style: none; /* redundant */
    border-top-style: dotted;
    border-color: green;
    border-width: 10px;
    width: 50%;
}


h3 {
    color: orange;
}


.box {
	width: 100px;
	height: 100px;
	margin: auto;
}

.box1 {
	background-color: #FF4500;
}

.box2 {
	background-color: #C71585;
}

.box3 {
	background-color: #32CD32;
}

#flex-container {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    height: 100px;
}

.flex-item {
    border-radius: 12px;
    background-color: #9ACD32;
    height: 75px;
    width: 75px;
}
